@font-face {
  font-family: 'Poppinsmed';
  src: url('./Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppinsbold';
  src: url('./Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppinslight';
  src: url('./Poppins-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}


body {
  background-color:#F2E9E4;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  
}

.navbar {
  background-color: #22223B;
  color: #fff;
  padding: 10px 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.navbar-logo {
  margin: 0;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
 
}

.navbar-links li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-links li:last-child {
  margin-right: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #F2E9E4;
}

.navbar-links li a:hover {
  color: #e8c6c6;
}

.flashcard {
  color: F2E9E4;
  text-decoration: none;
  text-align: left;
 
}
h1 a {
  color: #F2E9E4;
  text-decoration: none;
}
h1 a:hover {
  color: #e8c6c6; 
} 